<!-- Contact -->
<div class="mw7 center ph3">
  <div class="mw7 mb5">
    <h4 class="f3 b lh-title mb3">Drop us a line below</h4>
    <div class="mw6 br1 bg-grey-1 pa3 ba b--grey-3">
      <form action="" name="contact" netlify data-netlify-recaptcha="true">
        <input type="hidden" name="form-name" value="contact" />
        <!-- Name -->
        {{ partial "form-input" (dict "name" "name" "title" "Name" "isRequired" true "type" "text" ) }}
        <!-- Email -->
        {{ partial "form-input" (dict "name" "email" "title" "Email" "isRequired" true "type" "email" ) }}
          <!-- Interest In -->
        <div class="mw7">
          <p class="mw7 fw7 mb2">Interest In :          
          <div class="fl w-100">
            <select class="input-reset w-100 bg-off-white pa2 mb2 db" name="interested" id="interested" required>
              <option value="">Interest In</option>
              <option value="Become a Sponsoring Member or Supporter">Become a Sponsoring Member or Supporter</option>
              <option value="If You're a Supporter: Join an Open Voice Network Community">If You're a Supporter: Join an
                Open Voice Network Community</option>
              <option value="Share Research">Share Research</option>
              <option value="News Media Inquiry">News Media Inquiry</option>
            </select>
          </div>
          </p>
        </div>
        <!-- Message -->
        {{ partial "form-input" (dict "name" "message" "title" "Your Message" "isRequired" true "type" "textarea" ) }}
         <!-- Captcha -->
        <div data-netlify-recaptcha="true"></div>
        <!-- Button -->
        <div>
          <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>