<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Open Voice Network logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get news from us in your inbox on a regular basis. Be the first to learn the latest with the OVN.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Open Voice Network</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/join" class="link">How to join</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Meet with us</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Open-Voice-Network-103375474336837/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/openvoicenet" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/open-voice-network" "svg" "icons-linkedin") }}
					{{ partial "social-icon" (dict "link" "https://github.com/open-voice-network" "svg" "icons-github") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
