<div class="h7 bg-center cover {{.class}}" style="background-image: url('{{.imageUrl}}')">
  <div class="mw7 center ">
    <div class="db ">
      <div class="mw7 relative bg-fix-primary" style="text-shadow: 0 2px 3px rgba(0, 0, 0, 0.993)"> 
        <h1 class="f2 f1-l b di lh-title white">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary" style="text-shadow: 0 2px 3px rgba(0, 0, 0, 0.993)">
        {{ if .subtitle }}
        <h4 class="b f4 di lh-title mb3 white mw6 ">
          {{.subtitle}}
        </h4>
        {{ end }}
      </div>
    </div>
  </div>
</div>
