.navbar, .navbar li ul{
  color: var(--grey-3);
  font-weight: var(--bold-font-weight);
  background-color: var(--white);
}
nav .navbar{
  display: none;
}

.collapse-btn {
  display: inline-block;
  cursor: pointer;
  background-color: var(--white);
}

.collapse-btn .bar1, .collapse-btn .bar2, .collapse-btn .bar3 {
  width: 35px;
  height: 5px;
  background-color:var(--grey-3);
  margin: 6px 0;
  transition: 0.4s;
}

.collapse-btn.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.collapse-btn.change .bar2 {opacity: 0;}

.collapse-btn.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar li{

}

.navbar li a{
  text-decoration: none;
  padding: var(--spacing-medium);
  display: block;
}

.mobile .navbar{
  box-shadow: inset 0 -4px 0 var(--grey-1);
}
.mobile .navbar li ul{
 margin-left: var(--spacing-medium);
}

@media (--breakpoint-medium) {
  nav .navbar{
    display: flex;
  }
  .mobile .navbar{
    display: none;
  }
  .collapse-btn {
    display: none;
  }
  .navbar li ul{
    display: none;
    position: relative;
  }
  .navbar li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
    min-width: 7rem;
  }
}

/* @media (--breakpoint-large) {
  .navbar{
    color: var(--grey-3);
    font-weight: var(--bold-font-weight);
    display: flex;
  }

  .navbar li{

  }

  .navbar li a{
    text-decoration: none;
    padding: var(--spacing-medium);
    display: block;
  }
} */