{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw9 center bg-off-white pt4">
  <div class="mw7 center ph3 pt4 mb5">
    <div class="w-100 cms">
      {{ .Content }}
    </div>

    <div class="mw6 br1 bg-grey-1 center pa3 ba b--grey-3">
      <form action="/friends-of-the-open-voice-network/thank-you/" class="pa2" enctype="multipart/form-data"
        method="POST" name="become_a_friend"><input type="hidden" name="form-name" value="become_a_friend">
        <div class="mw7">
          <p class="mw7 fw7 mb2">Organization Name: <input
              class="w-100 bg-off-white input-reset ba b--black-20 pa2 mb2 db" type="text" name="org_name"></p>
        </div>
        <div class="mw7">
          <p class="mw7 fw7 mb2">Contact Email: <input class="w-100 bg-off-white input-reset ba b--black-20 pa2 mb2 db"
              type="email" name="contact_email">
          </p>
        </div>     
        
        <div class="mw7">
          <p class="mw7 fw7 mb2">Contact test Email: <input class="w-100 bg-off-white input-reset ba b--black-20 pa2 mb2 db"
              type="email" name="test_email">
          </p>
        </div>  

          <fieldset class="mw7" >
            <legend class="mw7 fw7 mb2">Please choose up to two OVON Work Groups and Communities of interest:</legend>
            <div class="ph2 mw6 cf">
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Architecture Work Group">Architecture Work
                Group
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Authentication Study Group">Authentication
                Study Group
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Commerce Community">Commerce Community
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Europe Community">Europe Community
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Education Steering Team Community">Education
                Steering Team Community
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Ethical Use Task Force Community">Ethical Use
                Task Force Community
              </div>

              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]"
                  value="Health Wellness Life Sciences Community">Health, Wellness, and Life Sciences Community
              </div>

              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Media Entertainment Community">Media &
                Entertainment Community
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value="Voice Registry System (VRS) Work Group">Voice
                Registry System (VRS) Work Group
              </div>
              <div class="fl w-100 w-50-ns mb2">
                <input class="mr2" type="checkbox" name="interest[]" value=" Synthetic Voice Study Group">Synthetic Voice
                Study Group
              </div>
            </div>
          </fieldset>
    

        <div class="mw7">
          <p class="fw7 mb2"> Logo (.svg or .ai format preferred, if possible):
            <input class="input-reset w-90 bg-grey-1 ph0" type="file" name="org_logo"
              accept="image/*,.ai,.svg,.psd,.eps">
          </p>
        </div>
        <div>
          <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
        </div>
      </form>
    </div>



  </div>
</div>



{{ end }}