{{ define "main" }}

{{ partial "jumbotron_gradient" (dict "imageUrl" .Params.image "title" .Title "class" .Params.jumboClass) }}

<div class="bg-off-white pa2 pv4 pa4-m cms">
	<div class="mw9 center ph2-ns cms">
		{{ if .Params.heading }}
		<h2 class="f2 b lh-title mb2">{{.Params.heading}}</h2>
		{{ end}}
		{{ if .Params.intro }}
		<p class="mb4 mw6">{{.Params.intro | markdownify}}</p>
		{{ end}}

		<!-- pa4 pb1 -->
		<div class="w-100-ns pa4 ma1 pb4-m bg-grey-2 raise center">
			{{ if .Params.topSectionHeading  }} <h3> {{.Params.topSectionHeading }} </h3> 
			{{end}}
			{{ if .Params.topSectionHeadingIntro }}
			<p class="mb4 mw7">{{.Params.topSectionHeadingIntro | markdownify}}</p>
			{{ end}}					
			{{ .Render "list-webinars-upcoming" }} 
		</div>	

		<div class="w-100-ns pa4 ma1 pb4-m bg-grey-2 raise center">
			{{ if .Params.bottomSectionHeading  }} <h3> {{.Params.bottomSectionHeading }} </h3> 
			{{end}}
			{{ if .Params.bottomSectionHeadingIntro }}
			<p class="mb4 mw7">{{.Params.bottomSectionHeadingIntro | markdownify}}</p>
			{{ end}}
			{{ .Render "list-webinars-past" }} 
		</div>	
	</div>
</div>
{{ end }}