{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.about }}
    {{ if $element.steeringcommittee}}
      {{ partial "media-block" $element }}
      {{ range $index, $sc := $element.steeringcommittee }}
        {{ partial "left-image-and-text" $sc }}
      {{ end }}
    {{ else }}
      {{ if modBool $index 2 }}
        {{ partial "media-block" $element }}
      {{ else }}
        {{ partial "media-block" $element }}
      {{ end }}
    {{ end }}
  {{ end }}

</div>

<div class="tc mb5">
<a href="/contact" class="btn w-100 w-auto-ns raise" >Join Now</a>
</div>

{{ end }}
