{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.about }}
    {{ if modBool $index 2 }}
      {{ partial "media-block" $element }}
    {{ else }}
      {{ partial "media-block" $element }}
    {{ end }}
  {{ end }}

</div>
<div class="mw7 center ph3 pt4">

  {{ range $index, $element := .Params.ambassadors }}
    {{ partial "left-image-and-text" $element }}
  {{ end }}

</div>

{{ end }}
