{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }}

<div class="bg-off-white pt4">
  {{ range .Params.hardsell }}
	<div class="mw7 center">
		<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
		<p class="mb4 mw-100">{{.description | markdownify}}</p>
	</div>
  {{ end }}
</div>

<div class="bg-off-white pt4">
	<div class="mw7 center flex flex-row flex-wrap mb4">
		<div class="w-100 w-50-ns">
			<a class="btn-link" href="/sponsoring_member">SPONSORING MEMBER</a>
		</div>
		<div class="w-100 w-50-ns">
			<a class="btn-link" href="/supporters">SUPPORTERS</a>
		</div>
		<div class="w-100 w-50-ns">
			<a class="btn-link" href="/communities">COMMUNITIES</a>
		</div>
		<div class="w-100 w-50-ns">
			<a class="btn-link" href="/ambassadors">AMBASSADORS</a>
		</div>
	</div>
</div>

<div class="pt4 pb4">
{{ partial "blockquote" (index .Params.testimonials 0) }}
</div>

<div class="tc">
<a href="/contact" class="btn w-100 w-auto-ns raise" >Contact Us To Join</a>
</div>
<br /><br />
{{ end }}