{{ define "main" }}

{{ partial "jumbotron_gradient" (dict "imageUrl" .Params.image "title" .Title "class" .Params.jumboClass) }}

<div class="bg-off-white pt4 cms">
	<div class="mw9 center ph2-ns cms">
		{{ if .Params.heading }}
		<h2 class="f2 b lh-title mb2">{{.Params.heading}}</h2>
		{{ end}}
		{{ if .Params.intro }}
		<p class="pa1 mb4 mw7">{{.Params.intro | markdownify}}</p>
		{{ end}}						
		<div class="w-100-ns pa4 pb1 pb4-m bg-grey-2 center">
		{{ .Render "list-white-papers"}}	
		</div>			
	</div>
</div>
{{ end }}