{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "class" .Params.jumboClass) }}

{{ partial "short-text" .Params.blurb}}


<div class="bg-off-white pv4">
{{ partial "simple-text" (dict "heading" .Params.intro.heading "text" .Params.intro.text "fontSize" "f2") }}
<div class="mt4">
{{ range .Params.values }}
{{ partial "simple-text" (dict "heading" .heading "text" .text "fontSize" "f3") }}
{{ end }}
</div>
</div>

{{ partial "text-and-image" (dict "heading" .Params.about.heading "text" .Params.about.text "buttonText" "Join" "buttonLink" "/join") }}

{{/* {{ partial "blog" . }} */}}

<div class="bg-grey-1 pv4">
  <div class="mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2">{{.Params.social.heading}}</h2>
    <div class="" style="margin:0 auto; width: 260px;">
    {{ partial "social-links" . }}
    </div>
  </div>
</div>

{{ end }}
